.page-nav {
  .menu {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
  }

  .menu-item {
    margin: 0 0.5em;
    font-size: 0.8em;
    text-transform: uppercase;

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}