* {
  /* Not very preformant */
  box-sizing: border-box;
}

body {
  font-size: 16pt;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #4c4c4c;
}

p {
  margin-bottom: 0.5em;

  &:last-of-type {
    margin-bottom: 0;
  }
}
